@font-face {
	font-family: font1;
	src: url(../fonts/font1.ttf);
}

body{
    background-color: rgb(40, 44, 49)
}

svg{
    stroke:white;
    stroke-width:10px;
    fill:none;
    position: absolute;
    margin-top: -120px;
    margin-left: -120px;
    z-index: 10;
    transform:scale(0.35);
}

nav{
    width: 90%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16pt;
}

.navbar-brand{
    margin-right: 100px;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img{
    object-fit: cover;
    height: 32rem;
}

.background{
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-indicators{
    margin-bottom: 23px;
}

.backgroundImg {
    object-fit: cover;
    height: 32rem;
    z-index: -10;
    width: 100%;
}

h1.titre{
    font-family: font1;
    font-size: 200pt;
    letter-spacing: 4px;
    margin-bottom: 80px;
    text-align:center;
    color: white;
}

h3.titre{
    font-family: font1;
    font-size: 80pt;
    letter-spacing: 4px;
}

main{
    margin-top: 32rem;
}


@media screen and (max-width: 830px) {
    h1.titre, svg{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    svg{
        display: initial;
        right:0;
        transform: scale(0.12);
        margin-right:-120px;
        margin-top: -157px;
    }
}

#formReservation{
    color:white;
}