@font-face {
	font-family: font1;
	src: url(../fonts/font1.ttf);
}

body{
    background-color: rgb(40, 44, 49)
}

svg{
    stroke:white;
    stroke-width:10px;
    fill:none;
    position: absolute;
    margin-top: 40px;
    margin-left: -170px;
    z-index: 999999;
    transform:scale(0.35);
}

header{
    height: 32rem;
}

nav{
    width: 90%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16pt;
}

.navbar-brand{
    margin-right: 100px;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img{
    object-fit: cover;
    height: 32rem;
}

.background{
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-indicators{
    margin-bottom: 23px;
}

.backgroundImg {
    object-fit: cover;
    height: 32rem;
    z-index: -10;
    width: 100%;
}

h1.titre{
    font-family: font1;
    font-size: 200pt;
    letter-spacing: 4px;
    margin-bottom: 80px;
    text-align:center;
    color: white;
    margin-top: -400px;
}

h3.titre{
    font-family: font1;
    font-size: 80pt;
    letter-spacing: 4px;
}

body{
    background-image:url(../images/resBack.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

#titreRes{
    margin:0 20%;
    font-size:1.5em;
}

footer{
    padding: 20px 0;
    width: 90%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 830px) {
    h1.titre, svg{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    svg{
        display: initial;
        transform: scale(0.12);
        right:0;
        margin: 0;
        margin-right: -150px;
    }
}
